*{
    padding: 0px;
    border: 0px;
    box-sizing: border-box;
}

.container{
    height: 450px;
    width: 396px;
    align-items: center;
    background-color: #fff;
    border: none;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
    box-sizing: border-box;
    margin:200px auto;
    padding: 20px 0 28px;
}


